<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <title>Node.js News</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <main class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% articles.forEach(function(article, index){ %>

        <div class="col">
          <div class="card">
            <img
              src="<%- article.urlToImage %>"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><%- article.title %></h5>
              <p class="text-muted">By: <%- article.author %></p>
              <p class="card-text"><%- article.description%></p>
              <a
                href="<%- article.url %>"
                target="_blank"
                class="btn btn-primary"
                >Learn more</a
              >
            </div>
          </div>
        </div>

        <%}); %>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
